.global {
	font-family: Raleway;
}

.font-size-12 {
	font-size: 12;
}

.header {
	background-color: #164f64; height: 135px;color: white;width: 100%;
}

.name {
	margin-top: 2%; position: absolute; font-weight: 700;font-size: 30; width: 90%; margin-left: 4%;padding-bottom: 1%;
}

.designation {
	margin-top: 6.5%; position: absolute; font-weight: 700;font-size: 22; width: 90%; margin-left: 4%;
}

.personal-details {
	margin-top: 10.5%; position: absolute; font-weight: 700;font-size: 13; width: 30%;
}

.location {
	margin-top: 15%; position: absolute; font-weight: 700;font-size: 13; width: 30%; margin-left: 4%;
}

.section-heading {
	background-color: white; font-weight: 700; font-size: 20; margin-top: 20; color: #164f64;
}

.bold-line {
	background-color:#164f64; margin-top: 1; height: 3; color: #164f64;
}

.summary-value{
	background-color:white; margin-top: 6; font-size: 12;
}

.experience-designation {
	background-color: white; margin-top: 6; font-size: 16;
}

.company-name {
	background-color: white; margin-top: 3; font-weight: 700; font-size: 13; color: black; margin-left: 2;
}

.company-period {
	background-color: white; margin-top: 3; font-size: 11; color: black; margin-left: 2;
}

.company-location {
	background-color: white; margin-top: -12;  font-size: 11; text-align: right;
}

.exp-bullets {
	background-color: white; margin-top: 4; font-size: 12; color: black;
}

.span-style {
	background-color: white; box-sizing: border-box; 
}

.container {
	margin-top: 6;
    display: flex;
    flex-wrap: wrap; /* Allows blocks to wrap to the next line if they overflow */
    gap: 15px; /* Adds space between blocks */
    color: black;

}

.custom-underline {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-transform: uppercase;
}

.ul{
	margin-left: -4%;
}

.ul-ach{
	margin-left: -8%;
}