.global {
	font-family: Raleway;
}

.font-size-12 {
	font-size: 12;
}

.header {
	background-color: darkblue; height: 135px;color: white;width: 100%;
}

.name {
	margin-top: 2%; position: absolute; font-weight: 700;font-size: 30; width: 90%; margin-left: 4%;padding-bottom: 1%;
}

.designation {
	margin-top: 6.5%; position: absolute; font-weight: 700;font-size: 22; width: 90%; margin-left: 4%;
}

.personal-details {
	margin-top: 10.5%; position: absolute; font-weight: 700;font-size: 13; width: 30%;
}

.location {
	margin-top: 15%; position: absolute; font-weight: 700;font-size: 13; width: 30%; margin-left: 4%;
}

.left-pane {
	 width: 57%; color: darkblue;  margin-left: 1%;
}

.section-heading {
	background-color: white; font-weight: 700; font-size: 20; margin-top: 20;
}

.bold-line {
	background-color:darkblue; margin-top: 1; height: 3;
}

.summary-value{
	background-color:white; margin-top: 6; font-size: 12;
}

.experience-designation {
	background-color: white; margin-top: 6; color: darkblue; font-size: 16;
}

.company-name {
	background-color: white; margin-top: 3; color: darkblue; font-weight: 700; font-size: 13;
}

.company-period {
	background-color: white; margin-top: 3; color: darkblue; font-size: 11; 
}

.company-location {
	background-color: white; margin-top: -12;  color: darkblue; font-size: 11; text-align: right;
}

.exp-bullets {
	background-color: white; margin-top: 4; color: darkblue; font-size: 12;
}

.right-pane {
	background-color: white; margin-top: -845; width: 34%; color: darkblue; margin-left: 65%;
}

.span-style {
	background-color: white; box-sizing: border-box; 
}

.skills {
	display: inline-block;padding-bottom: 8; padding-right:9 ;

}